.bg-green {
  background-color: #192a56; }

body {
  background: #f6f6f6; }

h1, h2, h3, h4, h5, h6, p {
  margin: 3px 0; }

._shadow {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px; }

.user_profile .personal-info .contact {
  margin-top: 10px; }

.user_profile .personal-info .profile-pic img {
  display: block;
  margin: 0 auto;
  width: 140px; }

.user_profile .profile_completion {
  position: relative; }
  .user_profile .profile_completion .right-fixed {
    position: fixed;
    width: 380px; }
    .user_profile .profile_completion .right-fixed .completion-percentage h1 {
      text-align: center;
      font-size: 70px;
      color: #192a56;
      margin-bottom: 20px; }
    .user_profile .profile_completion .right-fixed .profile_list ul {
      list-style: none; }
      .user_profile .profile_completion .right-fixed .profile_list ul li {
        margin: 5px 0; }
        .user_profile .profile_completion .right-fixed .profile_list ul li span {
          font-weight: bold; }

.user_profile .edit-content {
  display: none; }

.form_buttons {
  float: right; }
